<?php

// Set the credentials, info here, resave as _env.php

define('SITE_NAME','xxxxxx');
define('SITE_URL','https://www.example.com/');
define('DB_NAME','xxxxx');
define('DB_SERVER','xxxxx');
define('DB_USER','xxxxx');
define('DB_PASS','xxxxx');
define('EMAIL_MAILGUN_KEY','xxxxxx');
define('EMAIL_MAILGUN_DOMAIN','xxxxx');
